#Just a config demo for production environment, 
# not used in real production,
# please config your real env in production environment, like Vercel
# and not commit any production config to git repository
CORS_ORIGINS=https://kawaii2025.github.io
